.book-filter {
    background-color: var(--clr1);
    border-radius: 20px;
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    justify-content: center;
}

.book-filter h2{
    font-family: "Edu VIC WA NT Beginner", cursive;
    text-align: center;
}
.book-filter label{
    font-family: "Edu VIC WA NT Beginner", cursive;
}


